#rate-extension {
  z-index: 9999;
  position: absolute;
  width: 500px;
  line-height: 32px;
  top: 10px;
  left: 50%;
  margin-left: -250px;
  background-color: #fff;
  border: 1px #c7c7c7 solid;
  padding: 5px;
  font-family: museo-sans-n3, museo-sans;
  font-size: 14px;
}

#rate-close {
  float: right;
}